<config>
  <aws>
    <accessKeyId>AKIAIV7ZLDXSLM3XJ3FQ</accessKeyId>
    <secretAccessKey>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</secretAccessKey>
    <associateTag>joe-noh0427-22</associateTag>
  </aws>
  <jump>
    <buyers>Joe_noh</buyers>
    <buyers>nukokusa</buyers>
    <buyers>salinger01101</buyers>
    <buyers>s2_EV</buyers>
  </jump>
  <bitly>
    <userName>joenoh</userName>
    <apiKey>R_17b9acd8b5a0f4cff258e7721d02bcc2</apiKey>
  </bitly>
</config>
