<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <Encoding>UTF-8</Encoding>
    <File>log/nb.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>log/nb.%d{yyyyMMdd}.log</FileNamePattern>
      <MaxHistory>2</MaxHistory>
    </rollingPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>[%-5level][%d{yyyy-MM-dd HH:mm:ss}] %class{0} - %msg%n</Pattern>
    </layout>
  </appender>

  <root>
    <level value="info" />
    <appender-ref ref="logfile"/>
  </root>

</configuration>
